/*********************************
Background Image
*********************************/
body {
    margin: 0;
    font-family: Raleway, sans-serif;
    background: url('../img/leaves-1031355_1920.jpg') no-repeat center center fixed;
    width: 100%;
    padding-top: 300px;
    padding-bottom: 100px;
}




/*********************************
Thumbnail Images
*********************************/

.containter {

}

.col-xs-4, .col-md-2 {
    padding-left: 5px;
    padding-right: 5px;
}

.img-rounded {
    border-radius: 0px;
    width: 150px;
    height: 150px;
    border-radius: 0px;
    background-color: #FFFFFF;
    margin: 10px;
}

.img-rounded a {
    display: block;
}

.img-rounded img {
    width: 100%;
    max-width: 150px;
    padding: 2px;
}

.float_center {
    float: right;
    position: relative;
    left: -50%; /* or right 50% */
    text-align: left;
}





/*********************************
Navigation
*********************************/





/*********************************
Main Content
*********************************/








* {
    box-sizing: border-box;
}